/*   *   *   Font declarations   *   *   */

@font-face {
	font-family: 'groundsymbols';
	src:url('../fonts/groundsymbols.eot');
	src:url('../fonts/groundsymbols.eot?#iefix') format('embedded-opentype'),
		url('../fonts/groundsymbols.woff') format('woff'),
		url('../fonts/groundsymbols.ttf') format('truetype'),
		url('../fonts/groundsymbols.svg#groundsymbols') format('svg');
	font-weight: normal;
	font-style: normal;
	}



/*   *   *   Resets   *   *   */

*, *:after, *:before {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-rendering: optimizeLegibility;
	}
html, body { height: 100%; -webkit-font-smoothing: antialiased; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
a { text-decoration: none; }
dl, dt, dd { display: inline; }



/*   *   *   General   *   *   */

/*
font-family:'AdobeGaramondW01-Regula';
font-family:'Adobe Garamond W01 It';
font-family:'Adobe Garamond W01 Bd';
font-family:'AdobeGaramondW01-BdIt';
font-family:'AvenirNextLTW01-Regular';
font-family:'AvenirNextLTW01-Italic';
font-family:'Avenir Next LT W01 Bold';
font-family:'AvenirNextLTW01-BoldIta';

*/

body {
	background: #e3e7e9;
    font-family:'AvenirNextLTW01-Regular',Helvetica,Arial,'sans-serif';
	font-size: 14pt;
	font-weight: 400;
	line-height: 1.66em;
	color: #323232;
	}

h1, h2, h3, h4, h5 { font-family: 'Adobe Garamond W01 Bd'; letter-spacing: 1px; display: inline-block; }

.left { float: left; }
.right { float: right; }
.centered { margin-left: auto; margin-right: auto; }
.noPad { padding: 0; }
.noMarg { margin: 0; }

a {
	color: #cc0000;
	text-decoration: none;
	}
/*section.main a:hover { text-decoration: underline; }*/
a.unimportant { color: inherit; }

a.button, button {
	 -webkit-font-smoothing: antialiased;
	margin: 0.3em 0;
	display: inline-block;
	color: #fff;
	background: #aab5bb;
	padding: 14px 26px 13px;
	letter-spacing: 0.5px;
	line-height: 1em;
	/*vertical-align: bottom;*/
	font-size: 11pt;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.08);
	cursor: pointer;
	transition: 0.2s all;
	border-radius: 1px;
	text-rendering: optimizeLegibility;
	position: relative;
	font-weight: 700;
	background-image: linear-gradient(top, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.02)), color-stop(1, rgba(0,0,0,0.02)));
	}
a.button:hover, button:hover { box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.08), 0 2px 1px rgba(0, 0, 0, 0.05); background-color: #909fa6; text-decoration: none; }

a.button.red, button.red { background-color: #cc0000; }
a.button.red:hover, button.red:hover { background-color: #e83f46; }
a.button.blue, button.blue { background-color: #439ccb; }
a.button.blue:hover, button.blue:hover { background-color: #348abe; }
a.button.green, button.green { background-color: #cc0000; }
a.button.green:hover, button.green:hover { background-color: #27ac9c; }
a.button.purple, button.purple { background-color: #9d6da6; }
a.button.purple:hover, button.purple:hover { background-color: #8b5a94; }

a.button.smallest, button.smallest { font-size: 70%; padding: 9px 17px 8px; }
a.button.smaller, button.smaller { font-size: 75%; padding: 10px 20px 9px; margin: 0; top: -2px; }
a.button.bigger, button.bigger { font-size: 90%; }
a.button.biggest, button.biggest { font-size: 100%; }
a.button.giant, button.giant { font-size: 120%; }

a.button.outline, button.outline { background: none; font-weight: 600; color: rgba(255, 255, 255, 0.9); box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.66); border-radius: 2px; }
a.button.outline:hover, button.outline:hover { color: #2c393e; background: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.02), 0 2px 3px rgba(0, 0, 0, 0.07); font-weight: 600; }
a.button.outline.green:hover, button.outline.green:hover { color: #cc0000; }
a.button.outline.red:hover, button.outline.red:hover { color: #cc0000; }
a.button.outline.blue:hover, button.outline.blue:hover { color: #439ccb; }
a.button.outline.purple:hover, button.outline.purple:hover { color: #9d6da6; }

a.button.blank, button.blank {
	background: none;
	box-shadow: none !important;
	color: #aab5bb;
	}

div.hr { height: 1px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin: 2em 0 2em; }

.main p {
	font-size: 85%;
	color: #565656;
	line-height: 1.66em;
	margin-bottom: 0.66em;
	}



/* Structure */

.headerHolder > header,
section.main,
.footerHolder > footer {
	margin: 0 auto;
	width: 1100px;
	position: relative;
	}

.footerHolder { margin-top: 80px; height: 1px;}

.footerHolder ul {
    float: right
}

.footerHolder ul li {
    display: inline;
    margin-left: 20px;
}

h3.underConstruction {
    color: #434343;
    margin-bottom: 20px;
}

h3.checkBackSoon {
    color:#747464;
    margin-top: 40px;
}

ul.technologyList {
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 16px;
}

/* Header */

.headerHolder {
    background-color: #232323;
	height: 100px;
	padding-top: 25px;
	line-height: 1.33em;
	font-family: 'AdobeGaramondW01-Regula';
	}


.headerHolder h1 {
    font-family: 'Avenir Next LT W01 Bold';
    text-transform: uppercase;
    color: #cc0000;
    font-size: 70pt;
    margin-left: -7px;
	}

.headerHolder h4 {
	color: #e3e7e9;
	font-size: 23pt;
	letter-spacing: 1px;
	padding: 9px 0;
	margin-top: 10px;
	margin-left: 12px;
	display: inline-block;
	float: left;
	position: relative;
	white-space: nowrap;
	}
.headerHolder h4 a {
	display: inline-block;
	background: #1f2a2f;
	color: #909fa6;
	opacity: 0.66;
	font-size: 7.3pt;
	line-height: 1em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: bottom;
	padding: 6px 7px;
	margin-left: 6px;
	transition: 0.33s all;
	position: relative;
	top: -2px;
	box-shadow: 0 0 0 1px rgba(238, 81, 89, 0);
	border-radius: 1px;
	}
	h4 a:hover { opacity: 1; color: #ee5159; background: none; box-shadow: 0 0 0 1px rgba(238, 81, 89, 1); }

.nav {
	display: inline-block;
	margin-top: 20px;
	float: right;
	}
.nav li { display: inline-block; }
.nav li a {
	margin: 0 16px;
	color: #77878f;
	border-radius: 1px;
	padding: 9px 0;
	font-size: 16.2pt;
	font-weight: 400;
	letter-spacing: 1px;
	transition: 0.25s all;
	}
	.nav li:first-of-type a { margin-left: 0; }
	.nav li:last-of-type a { margin-right: 0; }
	.nav li.settings { font-family: 'groundsymbols'; margin-left: 20px; }
.nav li a.active {
	color: #fff !important;
	background: #ee5159;
	padding: 9px 24px;
	margin: 0 14px;
	}
.nav li a:hover { color: #e3e7e9; }


/* Main */

section.main {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
	padding: 40px;
	margin-top: -30px;
	margin-bottom: 40px;
    border-radius: 10px;
	}
.mainTop {
	background: #cc0000;
	margin: -42px -40px 40px;
	padding: 27px 40px 25px;
	color: #fff;
	overflow: auto;
    border-top-right-radius: 10px;
	}

.mainTop h2 {
	font-size: 19pt;
	display: inline-block;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50%;
	overflow: hidden;
	line-height: 1.3em;
	letter-spacing: 0.66px;
	}
.mainTop button, .mainTop .button { margin: -0.2em 0 -1em; padding: 12px 20px; }


.crumbs {
	float: right;
	display: inline-block;
	}
.crumbs li { display: inline-block; }
.crumbs li a {
	display: inline-block;
	color: #fff;
	margin: 2px 10px;
	font-size: 12pt;
	letter-spacing: 0.5px;
	opacity: 0.66;
	transition: 0.25s all;
	}
.crumbs li a.active { opacity: 1; font-weight: 600; }
.crumbs li a:hover { opacity: 1; }



/*   *   *   Default GS Form   *   *   */

.gsform {
	display: block;
	padding: 20px;
	}
.gsform header,
.gsform footer {
	background: rgba(227, 231, 233, 0.22);
	margin: -20px;
	padding: 30px 30px 24px;
	}

.gsform header:after, .gsform footer:after { clear: both; content: ' '; white-space: pre; }

.gsform header {
	margin-bottom: 40px;
	color: #77878f;
	}
.gsform header h2 {
	font-size: 24pt;
	font-weight: 300;
	}
.gsform header button, .gsform header a.button,
.gsform footer button, .gsform footer a.button {
	top: -0.66em;
	}

.gsform footer {
	margin-top: 100px;
	color: #77878f;
	padding-bottom: 29px;
	}

.fieldRow, .container { white-space: nowrap; letter-spacing: -.3em; position: relative; }
.fieldRow + .fieldRow { margin-top: 25px; }
.fieldRow > *:not(.subgrid), .container > *:not(.subgrid) { white-space: normal; }


.iconAdd:before, .iconCheck:before {
	font-family: 'groundsymbols';
	font-size: 90%;
	padding-right: 2px;
	position: relative;
	top: 1px;
	left: -4px;
	speak: none;
	-webkit-font-feature-settings: "liga","dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga","dlig"; -ms-font-feature-settings: "liga","dlig"; -o-font-feature-settings: "liga","dlig";
	font-feature-settings: "liga","dlig";
	text-rendering: optimizeLegibility;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.iconAdd:before { content: '\e002'; }
.iconCheck:before { content: '\2713'; padding-right: 3px; }
.iconList:before { content: '\e007'; }
.iconPlus:before { content: '\2b'; padding-right: 4px; font-size: 70%; top: 0px;  }


/*   *   *   Firefox font rendering tweaks   *   *   */

@-moz-document url-prefix() {
	.headerHolder h4,
	.headerHolder .nav li a,
	.mainTop h2,
	.crumbs li a {
		font-weight: 300;
		}
	.crumbs li a { font-size: 90%; }
	input[type='text'], textarea, .dropdown { padding: 0.5em 0.8em 0.4em; }
}





/*   *   *   Queries   *   *   */

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
	/* Retina display */
}

@media only screen and (max-width: 1110px) {

    .headerHolder > header,
    section.main,
    .footerHolder > footer {
        margin: 0 auto;
        max-width: 960px;
        position: relative;
        }

    .headerHolder {
        line-height: 1;
    }

    .headerHolder h1 {
        font-size: 50pt;
        margin-left: -5px;
    }
    .mainTop {
        margin-top: -58px;
    }

    .footerHolder ul {
        float: none;
        text-align: center;
    }
}


@media only screen and (max-width: 960px) {

    .headerHolder > header,
    section.main,
    .footerHolder > footer {
        margin: 0 auto;
        max-width: 780px;
        position: relative;
        }

    .mainTop.breadcrumb h2 {
        font-size: 15pt;
    }

    .headerHolder {
        line-height: 1;
    }

    .headerHolder h1 {
        font-size: 38pt;
        margin-left: -5px;
    }
    .mainTop {
        margin-top: -72px;
    }

    .footerHolder ul li {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 760px) {

    .headerHolder > header,
    section.main,
    .footerHolder > footer {
        margin: 0 auto;
        max-width:620px;
        position: relative;
        }

    .headerHolder {
        line-height: 1;
    }

    .headerHolder h1 {
        font-size: 38pt;
        margin-left: -4px;
    }
    .mainTop {
        margin-top: -72px;
    }

    .mainTop.breadcrumb h2 {
        font-size: 13pt;
    }

    .main p {
        width: 90%;
        display: block;
        font-size: 10pt;
    }

    .footerHolder ul li {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 640px) {

    .headerHolder > header,
    section.main,
    .footerHolder > footer {
        margin: 0 auto;
        max-width: 320px;
        position: relative;
        }

    .headerHolder {
        line-height: 1;
    }

    .headerHolder h1 {
        font-size: 32pt;
        margin-left: -1px;
        margin-top: -18px;
    }
    .mainTop {
        margin-top: -54px;
    }

    .mainTop.breadcrumb h2 {
        white-space: normal;
    }

    .main p {
        width: 80%;
        display: block;
    }

    .footerHolder ul li {
        margin-left: 0px;
    }

}


