
{% block headerblock %}


    <section class="headerHolder">
        <header>
            <a href="/"><h1>Modern Carpentry</h1></a>
            <ul class="nav">

            {% block mainnav %}
<!--
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/campaigns/">Campaigns</a></li>
                <li><a href="/people/">People</a></li>
                <li><a href="/reports/">Reports</a></li>-->
            {% endblock %}

            </ul>
        </header>
    </section>

{% endblock %}
