
<!-- Who Says Words With My Mouth? -->
<!--  Mewlana Jalaluddin Rumi -->
<!-- Translated by Coleman Barks -->

<!--
        All day I think about it, then at night I say it.
        Where did I come from, and what am I supposed to be doing?
        I have no idea.
        My soul is from elsewhere, I'm sure of that,
        and I intend to end up there.

        This drunkenness began in some other tavern.
        When I get back around to that place,
        I'll be completely sober. Meanwhile,
        I'm like a bird from another continent, sitting in this aviary.
        The day is coming when I fly off,
        but who is it now in my ear who hears my voice?
        Who says words with my mouth?

        Who looks out with my eyes? What is the soul?
        I cannot stop asking.
        If I could taste one sip of an answer,
        I could break out of this prison for drunks.
        I didn't come here of my own accord, and I can't leave that way.
        Whoever brought me here will have to take me home.

        This poetry, I never know what I'm going to say.
        I don't plan it.
        When I'm outside the saying of it,
        I get very quiet and rarely speak at all.

-->