{% extends "base.html" %}




{% block content %}


    <section class="main">
        <div class="mainTop breadcrumb">
            <h2>an old approach to new problems</h2>

            <ol class="crumbs">
<!--                <li><a href="/info" class="active">info</a></li>
                <li><a href="/tools">tools</a></li>
                <li><a href="/projects">projects</a></li>-->
                <li><a href="/contact" class="active">contact</a></li>
            </ol>

        </div>

        <div class="gsform">
            <header>
                <h2>thanks for getting in contact</h2>
            </header>
            <p>I'll get back to you as soon as possible.</p>
            <p>Make sure to have a great day!</p>


        </div>




    </section>
{% endblock %}